/test
readme
overall_mean.csv
/data/overall.csv

/data/multiple_run/__pycache__

/data/multiple_run/circle/Circle.csv
/data/multiple_run/circle/__pycache__

/data/multiple_run/rectangle/Rectangle.csv
/data/multiple_run/rectangle/Rectangle_results.csv
/data/multiple_run/rectangle/Rectangle_results0.csv
/data/multiple_run/rectangle/__pycache__

/data/multiple_run/square/Square.csv
/data/multiple_run/square/Square_results.csv
/data/multiple_run/square/Square_results0.csv
/data/multiple_run/square/__pycache__

/data/multiple_run/triangle/Triangle.csv
/data/multiple_run/triangle/Triangle_results0.csv
/data/multiple_run/triangle/__pycache__

/data/multiple_run/bow_tie/bowtie.csv
/data/multiple_run/bow_tie/bowtie_witharea.csv
/data/multiple_run/bow_tie/bowtie_results0.csv
/data/multiple_run/bow_tie/__pycache__

/data/multiple_run/trapezoid/trapezoid.csv
/data/multiple_run/trapezoid/trapezoid_results.csv